# Ignore .env file containing sensitive environment variables
.env

# Ignore SSL certificates
ssl/
*.crt
*.key

# Don't push certs
certs/

# Ignore Nginx logs
logs/
*.log

# Ignore Nginx logging location
nginx/

# Ignore Docker-related files
.docker/
docker-compose.override.yml


# Ignore temporary files created by IDEs (e.g., VSCode, JetBrains)
.vscode/
.idea/

# Ignore any other generated or sensitive files
*.swp  # Swap files from editors like vim
