services:
  nginx:
    image: nginx:latest
    # container_name: nginx
    environment:
      - NGINX_SERVER_NAME=${NGINX_SERVER_NAME}
      - CONTAINERS_LOCATION=${CONTAINERS_LOCATION}
    ports:
      - "80:80" # HTTP for Let's Encrypt challenge
      - "443:443" # HTTPS for secure access
 #   environment:
 #     - TZ=America/New_York
    volumes:
      - ./webpage:/usr/share/nginx/html  # Mount your webpage to the HTML directory
      - ./config/nginx.conf:/etc/nginx/nginx.conf  # Main Nginx configuration
      - ./config/snippets:/etc/nginx/config/snippets  # Mount the snippets directory
      - ./config/upstreams:/etc/nginx/config/upstreams
      - ./config/locations:/etc/nginx/config/locations
      - ./config/authentication:/etc/nginx/config/authentication
      - ./certs:/etc/letsencrypt # Certbot certificates
      - ../fail2ban/remotelogs/nginx:/var/log/nginx
    restart: unless-stopped
    networks:
      radarr_default: {}
      qbittorrent_default: {}
      plex_default: {}
      portainer_network: {}
      pihole_default: {}
      bibliomane_default: {}
      nginx-proxy_default: {}
      monitoring_default: {}
      sso-net:
        aliases:
          - ${DOMAIN_NAME}

  certbot:
    image: certbot/certbot
    container_name: certbot
    # depends_on:
    #   nginx:
    #     condition: service_healthy
    volumes:
      - ./certs:/etc/letsencrypt
      - ./webpage:/usr/share/nginx/html
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew --webroot -w /usr/share/nginx/html --quiet && sleep 12h & wait $${!}; done'"
    restart: unless-stopped
    networks:
      - nginx-proxy_default

# networks:
#   nginx-proxy_default

networks:
  qbittorrent_default:
    external: true
  radarr_default:
    external: true
  plex_default:
    external: true
  portainer_network:
    external: true
  # network-map_default:
  #   external: true
  pihole_default:
    external: true
  bibliomane_default:
    external: true
  nginx-proxy_default:
    external: true
  sso-net:
    external: true
  monitoring_default:
    external: true
